<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<body>

<div th:fragment="alert" class="container" style="padding: 20px;">
    <div th:if="${#ctx.containsVariable('notification')}" th:remove="tag">
        <div th:class="${'alert alert-dismissible fade show alert-' + notification.type}" role="alert">
            <strong th:text="${notification.header}">Header</strong>
            <span th:text="${notification.text}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">*</span>
            </button>
        </div>
    </div>
</div>

</body>
</html>
