<!DOCTYPE HTML>
<html lang="en"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Layout</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/datatables/css/dataTables.bootstrap4.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/chartjs/Chart.css} "/>

</head>
<body>

<div th:replace="fragments/navigation :: navigation"></div>

<div th:replace="fragments/alert :: alert"></div>



<!-- Main Grid -->
<div class="container">
    <div class="row">

        <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <section layout:fragment="content">
                <p>Content goes here</p>
            </section>

        </div>
        <div class="col-lg-1"></div>
    </div>

</div>


<div th:replace="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>
<script th:src="@{/webjars/datatables/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/webjars/chartjs/Chart.js}"></script>

<th:block layout:fragment="scripts"/>

</body>
</html>
