<!DOCTYPE HTML>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
>
<html>
<head>
    <title>Data</title>
</head>
<body>

<div layout:fragment="content">

    <span th:text="${rawData.content}">Data goes here</span>

</div>
</body>
</html>
